<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>Multiroom Chat</title>

	<!-- icones -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Bootstrap 4 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- estilo -->
	<link href="css/style.css" rel="stylesheet">
	<style>
		.material-icons {
			font-size: 28px;
			vertical-align: middle;
		}

		.input-group {
			display: flex;
			align-items: stretch;
		}

		.input-group .form-control {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.input-group .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.center-screen {
			min-height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.card {
			width: 100%;
			max-width: 400px;
		}

		.login_result {
			margin-bottom: 15px;
		}
	</style>
</head>

<body>
	<div class="container center-screen">
		<div class="card shadow">
			<div class="card-header text-center bg-light">
				<img src="images/multiroom_chat_2.png" class="img-fluid" alt="Multiroom Chat" />
			</div>
			<div class="card-body">
				<div class="login_result text-danger text-center">
					<% for(var i=0; i< erros.length; i++){ %>
						<div>
							<%= erros[i].msg %>
						</div>
						<% } %>
				</div>
				<form accept-charset="UTF-8" action="/chat" method="post" role="form">
					<div class="input-group">
						<input class="form-control" placeholder="Digite Nome ou apelido" id="apelido" name="apelido"
							type="text">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">
								entrar						 
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>