
<div id="aldecoes">
	<h3>Súdito</h3>

	<form class="form-cadastro" action="/gerarOrdemSuditos" method="post">
		<input type="hidden" name="jogo" class="form-control" id="jogo" value="<%=JSON.stringify(jogo)%>">
		<div class="row">
			<div class="col-xs-9">
				<div class="form-group">
					<select name="acao" class="form-control">
						<option value="">-- Escolha a ação</option>
						<option value="1">Coletar recursos (Custa 2 mooeda, Dura:1min)</option>
						<option value="2">Enforcar aldeão (Custa 3 mooeda, Dura:2min)</option>
						<option value="3">Ensinar história (Custa 1 mooeda, Dura:3min)</option>
						<option value="4">Ensinar magia (Custa 1 mooeda, Dura:4min)</option>
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="form-group">
					<input type="text" name="quantidade" class="form-control" id="quantidade" placeholder="Quantidade">
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Ordenar</button>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-xs-12">
				<span>Senhor, você possui
					<span id="numero-de-suditos-livres"> </span> sudito(s) desocupados e
					<span id="numero-de-suditos-trab"></span> sudito(s) em atividade.
			</div>
		</div>
	</form>
</div>