<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form class="" action="noticias/salvar" method="post">
			<label for="titulo">titulo</label>
			<input id="titulo" type="text" name="titulo" placeholder="titulo" value="">
			<br>
			<label for="noticia">Noticia</label>
			<textarea id="noticia" name="noticia" rows="8" cols="80"></textarea>
			<button type="submit" placeholder="noticia" >enviar</button>

		</form>

	</body>
</html>
